//Fonts

/*-- scss:defaults --*/

// Logo colors
$uciColor: #FFC72C;
$dukeColor: #00539B;
$vassarColor: maroon;
$backgroundWhite: #fefaf3;

// Font colors
$link-color: maroon;

// Font size
$font-size-root: 14px;

// TOC
$toc-color: maroon;

$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;

/*-- scss:rules --*/

.quarto-title-block .quarto-title-banner {
  background-image: url(https://www.stat.uci.edu/bayes-bats/img/logo.png);
  background-color: $uciColor;
  background-size: 7%;
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-right: 50px;
  background-origin: content-box;
}

.quarto-title {
  font-size: 300px;
  color: $dukeColor;
}

b, strong {
    color: $vassarColor;
}

/*timeline from https://bootsnipp.com/snippets/xrKXW* with some modifications*/

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: $uciColor;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid $dukeColor;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/*end of timeline*/

h6 {
  font-weight: bold;
}